{% extends "ATGApp/base.html" %}
{% load staticfiles %}

{% block title_block %}
    Add Stadium
{% endblock %}

{% block body_block %}
    <h1>Add Stadium</h1>

    <form novalidate id="addStadium_form" method="post" action="/ATGApp/add_stadium">
        {% csrf_token %}
        <!-- Stadium Name: <input type="text" name="stadiumName" value="" size="50"/>
        <br/>
        Postcode: <input type="text" name="postcode" value="" size="10"/>
        <br/>
        Capacity: <input type="number" name="capacity" min="0" max="114000"/> -->
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
            <br/><br/>
        {% endfor %}

        <input type="submit" value="submit" value="addStadium">
        <!-- <input type="file" name="stadiumPic" accept="image/png, image/jpeg"> -->
    </form>
{% endblock %}