<!DOCTYPE html>
{% load atg_template_tags %}
{% load staticfiles %}

<html>
    <head >
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{% static 'css/css.css' %}">
        <title>
            Around The Grounds -
            {% block title_block %}
            {% endblock %}
        </title>
    </head>

    <body>
        <div class="menu">
            <ul>
                <li><a href="{% url 'index' %}">Home Page</a></li>
                <li><a href="{% url 'stadiums' %}">Stadiums</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'account' %}">My Account</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>  

        <div>
            {% block body_block %}
            {% endblock %}
        </div>

        <hr/>

        <div>
            This Page was Created for WAD2 project by:
            <ul>
                <li>Gabriel Georgiev</li>
                <li>Jack McKechnie</li>
                <li>Aidan Rafferty</li>
                <li>Robbie Thomson</li>
                
            </ul>
        </div>
    </body>
</html>