{% extends 'ATGApp/base.html' %}
{% load staticfiles %}


{% block title_block %}
    {{ stadium.name }}
{% endblock %}


{% block body_block %}

    {% if stadium %}
        <h1>{{ stadium.name }}</h1>
        <p>
            {{ stadium.description }}
        </p>

        <!-- <div>
            <strong id="like_count">{{ stadium.likes }}</strong> people like this stadium
            <button id="likes" data-id="{{stadium.id}}"
            class="btn btn-primary btn-sm" type="button">
            Like
            </button>
            
        </div> -->
        {% if user.is_authenticated %}
            link to add review
            <!-- <a href="/ATGApp/stadium/{{stadium.slug}}/add_review/">Add page</a><br/> -->
        {% endif %}

        {% if reviews %}
            <ul>
                {% for review in reviews %}
                    <li>"showing review"</li>
                {% endfor %}
            </ul>
            
        {% else %}
            <strong>No reviews currently for this stadium.</strong>
        {% endif %}

    {% else %}
        The specified stadium does not exist!
    {% endif %}


{% endblock %}