{% extends 'ATGApp/base.html' %}
{% load staticfiles %}


{% block title_block %}
    {{ stadium.name }}
{% endblock %}


{% block body_block %}

    {% if stadium %}
        <h1>{{ stadium.name }}</h1>
        <p>
            {{ stadium.description }}
        </p>

        {% if user.is_authenticated %}
            
            <td>You are logged into an account so you can <a href="{% url 'add_stadium' stadium.slug %}">Write a Review</a></td>
        {% else %}
            <td>You are not logged logged into an account so you cannot write a review.<br/><a href="{% url 'Login' }">Log In</a> to do so.</td>
        {% endif %}

        {% if reviews %}
            <ul>
                {% for review in reviews %}
                    <li>"showing review"</li>
                {% endfor %}
            </ul>
            
        {% else %}
            <strong>No reviews currently for this stadium.</strong>
        {% endif %}

    {% else %}
        The specified stadium does not exist!
    {% endif %}


{% endblock %}