{% extends 'ATGApp/base.html' %}
{% load staticfiles %}


{% block title_block %}
    {{ stadium.name }}
{% endblock %}


{% block body_block %}

    {% if stadium %}
        <h1>{{ stadium.name }}</h1>
        <p>
            {{ stadium.description }}
        </p>

        {% if user.is_authenticated %}
            
            <div>You are logged into an account so you can <a href="{% url 'add_stadium' stadium.slug %}">Write a Review</a></div>
        {% else %}
            <div>You are not logged logged into an account so you cannot write a review.<br/><a href="{% url 'Login' }">Log In</a> to do so.</div>
        {% endif %}

        {% if reviews %}
            <table id="reviews">
                <tr>
                    <th>Reviewer</th>
                    <th>Atmosphere</th>
                    <th>Food</th>
                    <th>Facilities</th>
                    <th>Additional Information</th>
                </tr>
                {% for review in reviews %}
                    <tr>
                        <td>{{review.user}}</td>
                        <td>{{review.atmosphere}}</td>
                        <td>{{review.food}}</td>
                        <td>{{review.facilities}}</td>
                        <td>{{review.additionalInfo}}</td>
                    </tr>
                {% endfor %}
            </table>
            
        {% else %}
            <strong>No reviews currently for this stadium.</strong>
        {% endif %}

    {% else %}
        The specified stadium does not exist!
    {% endif %}


{% endblock %}