{% extends 'ATGApp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    My Account
{% endblock %}

{% block body_block %}
	<h1>My Account</h1>
        
    <div>
        {% if pages %}
            <h2>These are the reviews you have made:</h2>
            <table style="width:100%">
                <tr>
                    <th>{{ review.stadiumName }}</th> 
                </tr>
                <tr>
                    <td>
                        Capacity:{{ stadium.capacity }}<br/>
                        Postcode:{{ stadium.postcode }}<br/>
                        Atmosphere: {{atmosphere}}/5<br/>
                        Food: {{food}}/5<br/>
                        Facilities: {{facilities}}/5<br/>
                        {% if pages %}
                            Extra Comments: {{comments}}
                        {% else %}
                            No extra comments were added to the review.
                        {% endif %}
                    </td>
                    <td><img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /></td> 
                </tr>
            </table>

        {% else %}
            <h2>A review has yet to be made on a stadium</h2>
        {% endif %}
    </div>
    
{% endblock %}