{% extends 'ATGApp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    My Account
{% endblock %}

{% block body_block %}
	<h1>My Account</h1>
        
    <div>
        {% if reviews %}
			{% for review in reviews%}
				<h2>These are the reviews you have made:</h2>
				<table style="width:100%">
					<tr>
						<th>{{ review.stadiumName }}</th> 
					</tr>
					<tr>
						<td>
							Stadium: {{review.stadium}} / 5<br>
							Atmosphere: {{review.atmosphere}} / 5 <br>
							Food: {{review.food}} / 5 <br>
							Facilities: {{review.facilities}} / 5 <br>
							{% if pages %}
								Extra Comments: {{comments}}
							{% else %}
								No extra comments were added to the review.
							{% endif %}
						</td>
					</tr>
				</table>
			{% endfor %}

        {% else %}
            <h2>A review has yet to be made on a stadium</h2>
        {% endif %}
    </div>
    
{% endblock %}