{% extends 'ATGApp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Stadiums
{% endblock %}

{% block body_block %}
    <h1>Stadiums</h1>
        
        <div>
            {% if user.is_authenticated %}
                <p>If the stadium you want to review isnt here you can <a href="{% url 'add_stadium' %}"">Add One Here!</a></p>
            {% else %}
                <p>To add a new stadium you need to <a href="{% url 'login' %}">Log In</a> to your account, or register a <a href="{% url 'register' %}">New Account</a>.</p>
            {% endif %}
        </div>
        <div>       
            {% if stadiums %}
                <h2>These are the Stadiums we have for you to review</h2>
                <table>
                    {% for stadium in stadiums %}
                        <tr>
                            <td><a href="{% url 'show_stadium' stadium.slug %}">{{ stadium.name }}</a></td>
                            <td><img src="{{ stadium.picture.url }}"></td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h2>There are currently no stadius available to review</h2>
            {% endif %}
        </div>
{% endblock %}