body:not(.menu) {
    background-color: rgb(203, 255, 203);
    margin:0;
    margin-left:1%;
    margin-right:1%;
    margin-bottom:1%;
    margin-top:1%;
    }

p {
    margin-left:2%;
}
  
h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(203, 255, 203);
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    float: left;
    }


input[type=submit], .button {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    background-color: #333;
    border: 0px;
    border-radius: 8px;
}
  
input[type=submit]:hover, .button:hover{
    background-color: black;
    color: rgb(203, 255, 203);
}

.status h3{
    position: fixed;
    right: -50%;
    top:-10px;
    width:100%;
    z-index:+1;
    font-size: 16px;
}
  
  /* Menu Bar */
 .menu ul {
    list-style-type: none;
    margin: 0%;
    padding: 0;
    overflow: hidden;
    background-color:#333;
    position: fixed;
    top: 36.5px;
    width: 100%;
    }
.menu li {
    float: left;
}
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;

}
.menu li a:hover {
    background-color: black;
    color: rgb(203, 255, 203);
}

hr{
    border-top: 3px dotted rgb(0, 139, 70);
}

p1{
    color:rgb(0, 139, 70);    
}